html,
body {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    background-color: green;
    font-family: sans-serif;
    color: white;
}

.XS,.S,.M,.L,.XL,.XXL{
    display: none;
}



/*Alles bis zu einer Maximalen Breite von 1024px*/
@media (max-width: 1024px){
    html, body {
        background-color: red;
    }
}
/*xs*/
@media (max-width: 576px) {

    html,
    body {
        background-color: #FFDB66;
    }

    .XS{
        display: block;
    }
}

/*s*/
@media (min-width: 575px) and (max-width: 768px) {

    html,
    body {
        background-color: lightsalmon;
    }

    .S{
        display: block;
    }
}

/*Medium*/
@media (min-width: 767px) and (max-width: 992px) {

    html,
    body {
        background-color: lightcoral;
    }

    .M {
        display: block;
    }
}


/*Large >= 992*/
@media (min-width: 991px) and (max-width: 1200px){

    html,
    body {
            background-color: violet;
        }
    .L{
        display:block;
    }
}

/*Extra large >= 1200*/
@media (min-width: 1200px) and (max-width: 1400px) {

    html,
    body {
        background-color: blueviolet;
    }

    .XL {
        display: block;
    }
}

/*Extra Extra Large >= 992*/
@media (min-width: 1400px) {

    html,
    body {
        background-color: lightseagreen;
    }

    .XXL {
        display: block;
    }
}

/*Horizontal oder Vertika, Hoch oder Querformat*/

.quer,
.vert {
    display: none;
}

@media (orientation: landscape){
    .quer{
        display: block;
    }
}

@media (orientation: portrait) {
    .vert {
        display: block;
    }
}

/*Ausdrucken*/
@media print{
    html, body{
        background-color: white !important;
        color: black !important;
    }

    /*Orientierung  weg*/
    .vert,.quer{display:none;}

    /*Bilder weg*/
    img{
        display: none;
    }

    /*Large drucken*/
    .L{
        display:block;
    }

        .XS,.S,.M,.XL,.XXL {
            display: none;
        }


}


/*3-Spalten*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    /* default: small und kleiner → 1 Spalte */
    gap: 1rem;
}

/* medium + small → 2 Spalten */
@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* large → 3 Spalten */
@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*.spalten {

    flex-direction: row;
    display: flex;
} 
    */