html,
body {
    width: 100%;
    height: 100%;
    background-color: green;
}

/*Alles bis zu einer Maximalen Breite von 1024px*/
@media (mx-width: 1024px){
    html, body {
        background-color: red;
    }
}